#root {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vh;
    place-items: center center;
  }
  .container {
    background-color: white;
    width: 70%;
    margin-top: -30%;
  }
  .title {
    font-weight: 700;
    font-size: 2rem;
  }
  footer.container{
    padding: 1rem;
  }
  footer.container .title{
    margin-bottom: 0.25rem;
  }
  footer.container .description{
    line-height: 1.5rem;
  }